<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microphone Champion</title>
    <link rel="stylesheet" href="./static/css/style.css" />
  </head>
  <body>
    <!-- Header Start -->
    <header>
      <div class="logo">
        <img src="./static/img/rounded-headphones.svg" alt="" />
      </div>
      <nav>
        <ul>
          <a class="active" href="./index.html"><li>Home</li></a>
          <a href="./services.html"><li>Services</li></a>
          <a href="./promotion.html"><li>Promotion</li></a>
          <a href="./torronut.html"><li>Torronut</li></a>
          <a href="./dashboard.html"><li>Login</li></a>
        </ul>
      </nav>
    </header>

    {% block body %}{% endblock %}

    <!-- Header End -->
  </body>

  <!-- JavaScript -->
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="./static/js/app.js"></script>
</html>
